In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df=pd.read_csv('data\LC50 value_data.csv')
df.head(2)

    CIC0  SM1_Dz  GATS1i  NdsCH  NdssC  MLOGP  LC50
0  3.260   0.829   1.676      0      1  1.453  3.770
1  2.189   0.580   0.863      0      0  1.348  3.115

In [23]:
df=df.drop_duplicates()

In [24]:
x=df.drop('LC50 ',axis=1)
x

      CIC0  SM1_Dz  GATS1i  NdsCH  NdssC  MLOGP
0    3.260   0.829   1.676      0      1  1.453
1    2.189   0.580   0.863      0      0  1.348
2    2.125   0.638   0.831      0      0  1.348
3    3.027   0.331   1.472      1      0  1.807
4    2.094   0.827   0.860      0      0  1.886
..     ...     ...     ...    ...    ...    ...
903  2.801   0.728   2.226      0      2  0.736
904  3.652   0.872   0.867      2      3  3.983
905  3.763   0.916   0.878      0      6  2.918
906  2.831   1.393   1.077      0      1  0.906
907  4.057   1.032   1.183      1      3  4.754

[907 rows x 6 columns]

In [25]:
y=df['LC50 ']
y

0      3.770
1      3.115
2      3.531
3      3.510
4      5.390
       ...
903    3.109
904    4.040
905    4.818
906    5.317
907    8.201
Name: LC50 , Length: 907, dtype: float64

In [26]:
num_col=x

In [27]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [28]:
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

In [29]:
preprocessor=ColumnTransformer([
    ('num_pipe',num_pipeline,num_col)
]


)

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=10,test_size=0.20)

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [32]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [33]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.8342148333279705
MAE: 0.6454776744563793
R2 score 61.228381735261706
===================================


Lasso
Model Training Performance
RMSE: 1.1865558744499491
MAE: 0.9294954748343804
R2 score 21.560557190033137
===================================


Ridge
Model Training Performance
RMSE: 0.8334007488065732
MAE: 0.645039781003437
R2 score 61.304016864671595
===================================


Elasticnet
Model Training Performance
RMSE: 1.07834386059672
MAE: 0.8450059157147963
R2 score 35.21527007843821
===================================